body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: 'Courier New';
    font-weight: bold;
    font-style: italic;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    position: sticky;
    top: 0;
    margin-top: -70px;
    background-color: #9be0fd;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 30px;
    font-size: 18px;
    color: #333;
}

.navbar button {
    background-color: peru;
    color: white;
    border: none;
    border-radius: 10%;
    padding: 15px;
    position: absolute;
    right: 5%;
    transition: background-color 0.3s ease;
}

.navbar button:hover {
    background-color: #e3823e;
    cursor: pointer;
}

.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#home {
    background-image: url('images/travel.jpeg');
}

#book {
    background-image: url('images/flight.jpg');
}

#flight {
    background-image: url('images/book.jpg');
}

#posts {
    background-image: url('images/post.jpg');
}
.image-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 10px;
}

#contact {
    background-image: url('images/contact_us.jpg');
}

#signup-login {
    background-image: url('images/login.jpg');

}


.section-content {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
}

.catchphrase {
    font-size: 24px;
    margin-bottom: 20px;
}

.message-container {
    font-size: 30px; 
  }
  
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.form-container input,
.form-container select {
    margin-bottom: 10px;
    padding: 5px;
    width: 200px;
    font-size: 16px;
}

.form-container button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: peru;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-details a {
    color: peru;
  }
  
.contact-details, .message-us {
    flex-basis: 50%;
}

.contact-details {
    flex-basis: 50%;
    padding-right: 20px;
  }

.contact-details h2, .message-us h2 {
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
}

.contact-details p {
    color: white;
    font-size: 16px;
    margin-bottom: 5px;
}

.message-us {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.message-us .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message-us input {
    margin-bottom: 10px;
    padding: 5px;
    width: 300px;
    font-size: 16px;
}

.message-us button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: peru;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup-login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
}

.signup-login-container input {
    margin-bottom: 10px;
    padding: 5px;
    width: 200px;
    font-size: 16px;
}

.signup-login-container button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: peru;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

.footer {
    background-color: #f2f2f2;
    padding: 10px;
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left,
.footer-center,
.footer-right {
    flex: 1;
    text-align: center;
}

.footer-center {
    text-align: center;
}